* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubik";
}

:root {
  --mainColor: #ffff;
  --mainColorLight: #5767aa;
  --secondaryColor: #ff2525;
  --textColor: black;
}

@font-face {
  font-family: "rubik";
  src: url("../font/rubik.ttf");
}

header {
  margin-left: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.7rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: var(--textColor);
}

div > img {
  height: 100%;
  width: 14.5rem;
  object-fit: contain;
  cursor: pointer;
}

nav a {
  margin: 0 1rem;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 500;
  color: var(--textColor);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  padding: 2.7rem 2rem;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navbar_right button:nth-child(1) {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  font-family: "rubik";
}

.navbar_right button:nth-child(1):hover {
  color: var(--secondaryColor);
}

.navbar_right button:nth-child(2) {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: var(--secondaryColor);
  color: white;
  opacity: 0.8;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  font-family: "rubik";
  border-radius: 3px;
  padding: 1.5rem 3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
}

.navbar_right button:nth-child(2):hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header .nav-btn:hover {
    color: var(--secondaryColor);
  }

  header {
    margin: 0;
  }

  header nav {
    position: fixed;
    top: 0;
    left: -100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--mainColor);
    transition: all 0.5s ease-in-out;
  }

  div > img {
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  header .responsive_nav {
    transform: translateX(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav .nav-close-btn:hover {
    color: var(--secondaryColor);
  }

  nav a {
    font-size: 2.5rem;
  }

  .navbar_right {
    display: none;
  }
}
